# Python
*.pyc
*.pyo
__pycache__/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environments
.env
venv/
.venv/
env/
ENV/
env.bak/
.env.*

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
*.cover
.pytest_cache/

# Git
*.orig
